{% extends "main/layout.html" %}

{% block title %}о школе{% endblock %}

{% block content %}
<body>
    <div class="container3"> 
        
        <div class="scool">
            <h4>
                <div style="border: 2px; margin-top: 15px;">Центральная детская музыкальная школа - старейшее учебное заведение города Саратова. Открытие школы состоялось в 1916 году. Созданная вскоре после основания Саратовской консерватории, школа явилась одним из крупнейших центров детского музыкального образования не только в Саратове, но и в России. Основателем и первым директором школы стал талантливый музыкант, выдающийся педагог, профессор Леопольд Морицович Рудольф.</div>

                <div style="border: 2px; margin-top: 15px;">За долгие десятилетия школу окончили более 6000 учеников. Среди них музыканты мирового уровня, заслуженные и народные артисты России, лауреаты и дипломанты престижных российских и международных конкурсов, заслуженные деятели культуры и искусства. Многие выпускники школы стали прославленными педагогами. </div>

<div style="border: 2px; margin-top: 15px;">Сегодня Центральная детская музыкальная школа - крупное образовательное учреждение города Саратова и Саратовской области.</div>

<div style="border: 2px; margin-top: 15px;">Образовательный процесс в МБУДО «ЦДМШ» ведется на государственном языке Российской Федерации.</div>

<div style="border: 2px; margin-top: 15px;">Образование в учреждении осуществляется в очной форме.</div>

<div style="border: 2px; margin-top: 15px;" >В школе функционируют 9 музыкальных отделений:</div>

<li style="padding-left: 30px;"> Фортепиано</li>
<li style="padding-left: 30px;"> Струнные инструменты</li>
<li style="padding-left: 30px;"> Народные инструменты</li>
<li style="padding-left: 30px;">Духовые и ударные инструменты</li>
<li style="padding-left: 30px;">Эстрадно-джазовое</li>
<li style="padding-left: 30px;">Фольклорное</li>
<li style="padding-left: 30px;">Народное пение </li>
<li style="padding-left: 30px;"> Хоровое пение </li>
<li style="padding-left: 30px;">Отделение платных образовательных услуг </li>
<div style="border: 2px; margin-top: 10px;">На отделениях обучается свыше 600 детей по различным специальностям.</div>

<div style="border: 2px; margin-top: 15px;">В МБУДО «ЦДМШ» реализуются различные виды образовательных программ, направленные на максимальное раскрытие творческих способностей учащихся: дополнительные предпрофессиональные общеобразовательные программы в области музыкального искусства и дополнительные общеразвивающие программы в области музыкального искусства.</div>

<div style="border: 2px; margin-top: 15px;">Ежегодно учащиеся школы успешно выступают на международных, всероссийских, региональных и городских фестивалях и конкурсах. Лучшие из них являются победителями Общероссийского конкурса «Молодые дарования России». Многие удостоены премий главы администрации муниципального образования «Город Саратов» «Юные дарования Саратова», а также награждены именными Губернаторскими стипендиями.</div>

<div style="border: 2px; margin-top: 15px;">Талантливые выпускники школы продолжают свое профессиональное образование в ведущих учреждениях культуры и искусства города Саратова, Москвы, Санкт-Петербурга и других городов России.</div>

<div style="border: 2px; margin-top: 15px;">В 2014 году Центральная детская музыкальная школа города Саратова стала победителем Общероссийского конкурса «50 лучших детских школ искусств».</div>

<div style="border: 2px; margin-top: 15px;">По итогам работы учреждений культуры РФ за 2017 год МБУДО «ЦДМШ» включена в Национальный реестр «Ведущие учреждения культуры России-2017».</div>

<div style="border: 2px; margin-top: 15px;">В сентябре 2022 года за значительный вклад в социально-экономическое развитие Октябрьского района муниципального образования «Город Саратов» Центральная детская музыкальная школа была занесена на Доску Почета Октябрьского района муниципального образования «Город Саратов».</div>
            </h4>
        </div>

    </div>
</body>
    {% endblock %}
